.header {
  background-color: $color-primary;

  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: minmax(5.555rem, 1fr) minmax(min-content, 55.555rem) minmax(
      5.555rem,
      1fr
    );
  align-items: center;

  padding-bottom: 3rem;

  .social {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: end;
    margin: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 1.4rem;

    &__link {
      color: #fff;
      font-size: 1.8rem;
      transition: all 0.25s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  .heading {
    color: #fff;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
