*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}
